body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffefef;
}

#sentence {
    position: absolute;
    bottom: -200px;
    font-size: 0;
    transition: all 2s;
    opacity: 0;
    text-align: center;
}
